body {
  margin:0;
}
.navbar{

}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #ab6803;
}

.content {
  padding:20px;
  margin-top:30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /*background-color: DodgerBlue;*/
}

.flex-container > div {
  background-color: #8e8b8b;
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 12px;
}